.commentbox{
    margin: 10px;   
    justify-content: center;
}
.commentinput{
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
}
.commentbutton{
    padding-top: 10px;
}
.cmntuser{
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
}