.logosearch{
    display: flex;
    gap: 0.75rem;
}
.search{
    display: flex;
    background-color: rgba(40, 52, 62, 0.07);
    border-radius: 10px;
    padding: 5px;
}
.search>input{
    background-color: transparent;
    border: none;
    outline: none;
}
.s-icon{
    display: flex;
    background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}